.flex-container {
  position: relative;
}
.about-container {
  /* padding: 10rem; */
  background-color: rgb(35, 35, 35);
}

.about-title {
  /* padding-top: 8rem; */
  font-size: 1.8rem;
}

.description {
  padding-left: 0;
  font-weight: 600;

  font-size: 4rem;
  color: white;
}
.sub-description {
  font-size: 1.4rem;
  color: rgb(83, 82, 82);
  color: white;
}
.descriptionn {
  /* padding: 0; */
  font-weight: 600;
  color: white;

  font-size: 2.8rem;
}
.descriptionnn {
  padding-top: 19rem;
  /* align-items: flex-end; */
  font-size: 0.9rem;
  color: rgb(175, 175, 175);
}
/* .descriptionnn {
  font-size: 1rem;
  margin-top: auto;
} */

/* .description-container {
  max-width: 60rem;
  padding-right: 10rem;
  align-self: flex-start;
} */

.description-container {
  margin-right: 10rem;
  max-width: 38rem;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}

.flex-container {
  padding: 10rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.slider-container {
  width: 30rem;
  height: 20rem;
}

/* smaller desktops */

@media (max-width: 84em) {
  .flex-container {
    padding: 10rem 2rem;
    display: flex;
    justify-content: center;
  }
  .description {
    font-size: 3rem;
  }
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .description-container {
    margin-right: 4rem;
  }

  .slider-container {
    width: 28rem;
    height: 18rem;
  }
  .descriptionnn {
    /* padding-right: 20rem; */
  }
}
/* tablets */
@media (max-width: 74em) {
  .flex-container {
    flex-direction: column;
  }

  .description-container {
    margin-right: 0;
    align-self: center;
    margin-bottom: 8rem;
  }
  .descriptionnn {
    padding-top: 12rem;
  }
}

/* phones */
@media (max-width: 40em) {
  .about-container {
    /* padding: 10rem; */
    background-color: rgb(35, 35, 35);
    height: 52rem;
  }
  .flex-container {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .description-container {
    padding-right: 0;
  }
  .slider-container {
    width: 18rem;
    height: 14rem;
    padding-bottom: 4rem;
  }
  .description {
    font-size: 2.4rem;
    padding-top: 4rem;
  }
  .sub-description {
    padding: 0.2rem 0 2rem 0;
    font-size: 1.2rem;
  }
  .flex-container {
    align-items: center;
  }
  .descriptionnn {
    padding-top: 18rem;
    /* align-items: flex-end; */
    font-size: 1rem;
    color: rgb(175, 175, 175);
  }
}
