.contact-title {
  display: flex;
  justify-content: center;
  padding-top: 6rem;
  padding-bottom: 4rem;
  color: white;
}
.contact-container {
  background-color: rgb(35, 35, 35);
}
.contact-info {
  color: white;
  display: flex;
  justify-content: center;
  padding: 1rem;
}
.contact-info2 {
  padding-top: 0;
  padding-right: 2.4rem;
}
.icons-container {
  display: flex;
  flex-direction: column;
  /* gap: 1.4rem; */
  justify-content: center;
}
.icons-box {
  display: flex;
  /* gap: 2rem; */
  justify-content: center;
  padding-bottom: 2rem;
  padding-top: 1rem;
}
.icons-box > *:not(:last-child) {
  margin-right: 1.4rem;
}
/* .mail {
  margin-right: 0.4rem;
}

.phone {
  margin-right: 0.4rem;
  font-size: 0.9rem;
} */
.bottom-text {
  color: rgb(88, 88, 88);
}

.icons-text-container {
  flex-direction: column;
}
.icons-text {
  color: white;

  display: flex;
  justify-content: center;
  padding-top: 2rem;
  font-weight: 600;
}

.line {
  border-top: 1px solid rgb(170, 170, 170);
}
.test {
  display: flex;
  flex-direction: column;
}

.contact-video {
  width: 100%;
  height: auto;
}
.video-container {
  width: 50rem;
}
.info-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 40em) {
  .contact-title {
    padding-top: 4rem;
    padding-bottom: 2rem;
  }
}
