/* .slider-container {
}

.slider-img {
  width: 100%;
  object-fit: cover;
}

.slider-container {
  overflow: hidden;
}

.slider-track {
  display: flex;
  transition: transform 0.3s ease-in-out;
}

.slider-img {
}

@media (max-width: 40em) {
  .flex-container {
    padding-top: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: auto;
  }
  .slider-container {
  }
} 
 */

/* .slider-container {
  display: flex;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.slider-img {
  width: 100%;
  height: 100%;
  animation: slide 0.5s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }
  20% {
    transform: translateX(0%);
  }
  25% {
    transform: translateX(-100%);
  }
  45% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(-200%);
  }
  70% {
    transform: translateX(-200%);
  }
  75% {
    transform: translateX(-300%);
  }
  95% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
} */

/* //////////////////////////////// */
.slider-container {
  position: relative;
  width: 36rem;
  height: 28rem;
  overflow: hidden;
}

.slider-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  object-fit: cover;
}

.slider-img.active {
  opacity: 1;
}

@media (max-width: 84em) {
  .slider-container {
    position: relative;
    width: 36rem;
    height: 28rem;
    overflow: hidden;
  }
}

/* tablets */
@media (max-width: 74em) {
  .slider-container {
    width: 38rem;
  }
}
@media (max-width: 43em) {
  .description-container {
    width: 19rem;
  }
}
@media (max-width: 40em) {
  .slider-container {
    width: 19rem;
    height: 16rem;
  }
  .about-container {
    height: 58rem;
  }
  .descriptionnn {
    padding-top: 2rem;
  }
}
