* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Titillium Web', sans-serif;
}

:root {
  --mainColor: #d8d8d8;
  --mainColorLight: #5767aa;
  --secondaryColor: #db2b39;
  --textColor: #3b3b3b;
}

header {
  z-index: 999;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  /* padding: 0 2rem; */
  /* background-color: var(--mainColor); */
  /* color: var(--textColor); */
  background-color: rgba(233, 232, 232, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}
.logo {
  padding-left: 14rem;
}
.nav {
  position: absolute;
  right: 10rem;
}

nav a,
nav Link {
  margin: 0 1rem;
  /* color: var(--textColor); */
  text-decoration: none;
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 2rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
  font-size: 1.8rem;
}

header div,
nav {
  display: flex;
  align-items: center;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
    padding-right: 4rem;
  }
  .logo {
    padding-left: 4rem;
  }
  .nav {
    /* position: fixed; */
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header nav {
    position: fixed;
    top: -100vh;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
  }

  header .responsive_nav {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a,
  nav Link {
    font-size: 1.5rem;
  }
}
