* {
  margin: 0;
  font-family: 'Mattone';
  color: #333;
}

.dark-mode {
  background-color: #1c1c1c;
  color: #fff;
}
@font-face {
  font-family: 'Mattone';
  src: url(../src/Mattone-Regular.otf);
}
